// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------

// text colour
$full-colour:  rgba(255, 255, 255, 1);
$light-colour: rgba(255, 255, 255, 0.7);
$dark-colour: rgba(0, 0, 0, 0.3);

// text sizes
$info: 18px;
$info-small: 16px;

// ----------------------------------------------------------------------------
// Widget-verbinski styles
// ----------------------------------------------------------------------------
.widget-weather-today {
  .title {
    color: $light-colour;
    text-transform: uppercase;
  }

  .temp { color: $full-colour; }

  .summary {
    color: $full-colour;
    text-align: left;
  }

  // icon + summary
  .summary-wrapper {
    .weather-icon-left {
      max-width: none;
      float: left;
    }

    .summary-right {
      max-height: 120px;
      overflow: hidden;
      vertical-align: middle;

      font-size: $info;
    }
  }

  .details-text-only {
    font-size: $info;
    margin-top: 10px;
  }

  .upcoming-week {
    margin: 15px 0 15px 50px;
    text-align: left;

    p {
      font-size: $info;
      margin: -5px 0;

      .weather-icon-inline {
        max-width: 50px;
        margin: -5px;
      }
      .weather-icon-inline.large {
        max-width: 60px;
        margin: -10px;
      }
    }
  }

  .powered-by {
    color: $light-colour;
    font-size: $info-small;
  }
  .last-updated {
    font-size: $info-small;
    color: $dark-colour;
  }
}
