<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="weather" data-view="Weather"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="days_since_last_post" data-view="DaysSinceLastPost" data-title="Days since last blog post"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bendyworks-blog" data-view="News" data-title="Bendyworks Blog" data-interval="30"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#ff9618;" data-title="@bendyworks replies"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="3">
      <div data-id="sms_my_bus" data-view="SmsMyBus" data-title="Bus Arrivals" style="background-color:#47bbb3;"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="coderwall" data-view="Number" style="background-color:#2A76C6;"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="the-board" data-view="List" data-title="THE BOARD"></div>
      <i class="icon-trello icon-background"></i>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="github_repos" data-view="GithubRepos"><div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ci_travis_bwoken" data-view="Travis" data-unordered="true" data-title="Bwoken"></div>
    </li>


    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="github_status" data-view="GithubStatus" data-title="GitHub Status"></div>
    </li>

    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="heroku-prod" data-view="Heroku" data-title="Heroku Production"></div>
    </li>


  </ul>
</div>
