$background-color: #ff9618;
$title-color:       rgba(255, 255, 255, 0.7);
$label-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

.widget-likes {
  background-color: $background-color;
  vertical-align: top;

  .title {
    color: $title-color;
    font-size: 16px;
  }

  ul {
    list-style: none;

    li {
      text-align: center;
      margin-bottom: 10px;

      .label {
        font-size: 25px;
        display: block;
        color: $title-color;
        text-transform: uppercase;
      }

      .value {
        font-size: 55px;
        font-weight: bold;
        display: block;
      }
    }

  }

  h3 {
    color: $title-color;
  }

}
